@import '/src/scss/var';
@import '/src/scss/mixin';

.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 48px);
  min-height: 250px;

  &__head {
    @include flexCenter(null);
  }

  &__formContainer {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
  }
}