@import '/src/scss/var';
@import '/src/scss/mixin';

.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $auth-gradient-bg;
  height: 100%;

  &__heading {
    @include flexCenter(null);
  }

  &__formContainer {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
  }
}