@import "/src/scss/var";
@import "/src/scss/mixin";

.Personal {
  padding-top: 20px;

  &__head {
    padding: 0 20px;
  }

  &__heading {
    @include flexAlign(space-between, center);
  }

  &__body {
    padding: 20px;
    position: relative;
    z-index: 1;
  }

  &__btnGrp {
    @include flexAlign(null, center);
  }
}
