@import "/src/scss/var";
@import "/src/scss/mixin";

.ThemeOne {
  &__cv {
    background-color: #fff;
  }

  &__personal-sub {
    @include flexAlign(null, center);
    font-size: 15px;
  }

  &__personal {
    @include flexAlign(null, center);
  }

  &__avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__btnGrp {
    max-width: 200px;
    margin: 0 auto;
    @include flexCenter();
    gap: 10px;
  }

  &__experienceHead {
    @include flexAlign(null, center);
  }

  &__educationHead,
  &__certificationHead {
    @include flexAlign(null, center);
  }

  &__projectOrg {
    @include flexAlign(null, center);
    font-size: 14px;
    color: $gray !important;
  }

  &__experienceDate {
    font-size: 13px;
  }

  &__lang {
    @include flexAlign(center, center, flex, column);
  }
}
