$primary: rgba(6,72,163,1);
$accent: rgba(0,212,255,1);
$primary-semidark: darken($primary, 10%);
$primary-dark: darken($primary, 20%);

$gray: #817e7e;

$auth-gradient-bg: linear-gradient(320deg, $primary-dark 0%, $primary-semidark 30%, $primary 45%, $accent 100%);