$primary: #1074CA;
$accent: #00d4ff;

$primary-semidark: #1765a9;
$primary-dark: darken($primary-semidark, 10%);

$red: #e52c2c;

$gray: #817e7e;
$dark: #252525;

$auth-gradient-bg: linear-gradient(320deg, $primary-dark 0%, $primary-semidark 30%, $primary 45%, $accent 100%);